@model TeamMaddog.Models.Product

@{
    ViewBag.Title = "AddCartItems";
}

<h2>Add Items to Cart</h2>

<a href='@Html.ActionLink("Details", "Cart", new { nameIn = "Backpack"}, null)'>
    <img src="~/Content/Images/Backpack.JPG" style="width:330px;height:400px;"/>
</a>

<a href='@Html.ActionLink("Details", "Cart", new { nameIn = "Hat" }, null)'>
    <img src="~/Content/Images/Hat.JPG" style="width:330px;height:330px; margin-left:80px;"/>
</a>

<br /><br /><br />

<a href='@Html.ActionLink("Details", "Cart", new { nameIn = "Sweater" }, null)'>
    <img src="~/Content/Images/Sweater.JPG" style="width:330px;height:400px;"/>
</a>

<a href='@Html.ActionLink("Details", "Cart", new { nameIn = "Tshirt" }, null)'>
    <img src="~/Content/Images/Tshirt.JPG" style="width:330px;height:400px; margin-left:80px;"/>
</a>


