@model TeamMaddog.Models.Cart

@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

<!-- this adds up the subtotal of all the products the customer has chosen-->
@{
    Model.SubTotal = 0;
    foreach(var item in Model.TheProducts)
    {
        Model.SubTotal += item.ProdPrice;
    };

   <h3><strong>Subtotal:</strong> @Html.Raw(Model.SubTotal)</h3>

}





