@model TeamMaddog.Models.Cart

@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

<h3><strong>Subtotal:</strong></h3>

<!--The checkout which adds together the prices of all the items selected by the customer-->
 @{ 
     foreach (var item in Model.TheProducts)
     {
         double subtotal = 0;
         subtotal += item.ProdPrice;
     }
        <h3></h3>

     }

