@{
    ViewBag.Title = "About";
}

<h2>What is Team Maddog?</h2>



<p>Born in Palo Alto, California, Greg Madsen lived a life of optimism, healthy living and 'Saying YES to life!'
    Greg was diagnosed with Stage 4 Lung Cancer at age 53 in September 2015. After a 20 month battle with this disease 
    Greg passed away in his home surrounded by family. 
    </p>

<p> As a way to remember his life and unite the people touched by Greg's influence you can wear Team Maddog
    swag! Greg was all about connecting with others, adventuring outdoors and 'Making Life Epic!' As you wear 
    these clothes think about how you can become a kinder, better human. </p>

<p> 100% of the procceds from clothing sales are donated to cancer research and support of young families who
    have lost a parent to cancer.</p>

<p> Get in touch with us:
    Emmett Madsen - emmettmadsen@gmail.com
    Kate Hargadon - kate .hargadon@gmail.com</p>

