@{
    ViewBag.Title = "About";
}



<h1>What is Team Maddog?</h1>

<img border="3" src="~/Content/Images/Background.jpg"  />

<h3> Background on Greg:</h3>
<p>
    Born in Palo Alto, California, Greg Madsen lived a life of optimism, healthy living and 'Saying YES to life!'
    Greg was diagnosed with Stage 4 Lung Cancer at age 53 in September 2015. After a 20 month battle with this disease
    Greg passed away in his home surrounded by family.
</p>

<h3>Today:</h3>
<p>
    As a way to remember his life and unite the people touched by Greg's influence you can wear Team Maddog
    swag! Greg was all about connecting with others, adventuring outdoors and 'Making Life Epic!' As you wear
    these clothes think about how you can become a kinder, better human.
</p>


<p>
    100% of the procceds from clothing sales are donated to cancer research and support of young families who
    have lost a parent to cancer.
</p>

<h3>Get in touch with us: </h3>
<p style="border:3px; border-style:solid; border-color:#0a62b2; padding: 1em; center:">
    
    Emmett Madsen - emmettmadsen@gmail.com <br />
    Kate Hargadon - kate.hargadon@gmail.com
</p>

