<html>
<head>

</head>
<body>
    <!--The navbar ate our image, so we added breaks. This Hero-image class is something we found ontline that allows for buttons and words to be centered in the middle
        and we made it more opaque so that you can read the words better-->
    <br /><br /><br /><br />
    <div class="hero-image" style=" width: 600px">
        <img src="~/Content/Images/PleasurePoint2.jpg" alt="Nature" class="hero-image" style=" opacity: 0.5;">
        <div class="hero-text">
            <h1>Team Maddog</h1>
            <p>Say Yes to Life</p>
        </div>

    </div>

   
    <div class=" hero-image" style="position:inherit; margin-left:0px; margin-top: 50px">
        <img src="~/Content/Images/HomePage.JPG" style="width: 600px; height: auto; opacity: 0.75; " />
        <a class="semi-transparent-button" href="@Url.Action("AddCartItems", "Cart")">Shop Now</a>
    </div>


    <div class="hero-image " style=" position:inherit; margin-top: 100px;">
        <img src="~/Content/Images/38th.jpg" style="width: 600px; height: auto; opacity: 0.75" />
        <a class="semi-transparent-button" href="@Url.Action("About", "Home")">About Us</a>
    </div>

</body>
</html>