<html>
<head>

</head>
<body>

    <!--Home page top image-->
    <br /><br /><br /><br />
    <div class="hero-image" style="margin-left:14px; width: 600px">
        <img src="~/Content/Images/PleasurePoint2.jpg" alt="Nature" class="hero-image" style=" opacity: 0.5;">
        <div class="hero-text">
            <h1>Team Maddog</h1>
            <p>Say Yes to Life</p>
        </div>

    </div>

    <!--image and button that takes customer to the shop now page-->
    <div class=" hero-image" style="position:inherit; margin-left:0px; margin-top: 50px">
        <img src="~/Content/Images/HomePage.JPG" style="width: 600px; height: auto; " />
        <a class="semi-transparent-button" href="@Url.Action("AddCartItems", "Cart")">Shop Now</a>

    </div>
    <!-- <button class=" btn">
            /*Html.ActionLink("Shop Now", "AddCartItems", "Cart")*/
        </button>-->

    <!--Image and button that takes customer to the About Us page-->
    <div class="hero-image " style=" position:inherit; margin-top: 100px;">
        <img src="~/Content/Images/38th.jpg" style="width: 600px; height: auto" />
 <a class="semi-transparent-button" href="@Url.Action("About", "Home")">About Us</a>
    </div>

</body>
</html>