<html>
<head>

</head>
<body>
    <br /><br /><br /><br />
<div class="hero-image" style="margin-left:14px; width: 600px">
  <img src="~/Content/Images/PleasurePoint2.jpg" alt="Nature" class="hero-image" style=" opacity: 0.5;">
    <div class="hero-text">
        <h1>Team Maddog</h1>
        <p>Say Yes to Life</p> 
    </div>

</div>


    <div class=" container" style="position:inherit; margin-left:0px; margin-top: 50px">
        <img src="~/Content/Images/HomePage.JPG" style="width: 600px; height: auto; " />
        <button class=" btn">
            @Html.ActionLink("Shop Now", "AddCartItems", "Cart")
        </button>
    </div>


    <div class=" container " style=" position:inherit; margin-top: 100px; margin-right: 400000px">
        <img src="~/Content/Images/38th.jpg" style="width: 600px; height: auto" />
        <button class=" btn">
            @Html.ActionLink("About Us", "About", "Home")
        </button>
    </div>

</body>
</html>